    <div class="clear"></div>
    
    <footer>  
        <hr>
        <div id="copy">
        All contents Copyright VLOCK Inc. all rights reserved<br>        
        <div id="social">
        <img src="../images/facebook.gif" width="33" height="33" alt="Facebook"> <img src="../images/twitter.gif" width="33" height="34" alt="Twitter"></div>          
     </footer>
</div>

</body>
</html>