<!doctype html>
<html lang="en">
  <head>
    <title>VLOCK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oxygen:400,700" rel="stylesheet">

    <link rel="stylesheet" href="home/css/animate.css">
    <link rel="stylesheet" href="home/css/owl.carousel.min.css">
    <link rel="stylesheet" href="home/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="home/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="home/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="home/fonts/flaticon/font/flaticon.css">
    <link href="CSS/default.css" rel="stylesheet" type="text/css" media="all">
    <link href="CSS/front.css" rel="stylesheet" type="text/css" media="all">
    <link href="CSS/print.css" rel="stylesheet" type="text/css" media="print">
    <link href="CSS/iphone.css" rel="stylesheet" type="text/css" media="screen">
    <script type="text/javascript" src="script/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="script/s3Slider.js"></script>
    <!-- Theme Style -->
    <link rel="stylesheet" href="home/css/style.css">
    <script type="text/javascript">
        $(document).ready(function() {
            $('#s3slider').s3Slider({
                timeOut: 4000
            });
        });
    </script>
  </head>
  <body>
    <header role="banner">
      <nav class="navbar navbar-expand-lg  bg-dark">
          
        <div class="container-fluid">
          <a class="navbar-brand " href="./">Vlock</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav pl-md-5 mr-auto">
              <li class="nav-item">
                <a class="nav-link active" href="./">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="vote">VOTE</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="admin">ADMIN</a>
                </li>    
              <li class="nav-item">
                <a class="nav-link" href="result">RESULT</a>
              </li>           
            </ul>
           
            
          </div>
          <div id="login"> <a href="/login">login</a> | <a href="/signUp">Join</a> | <a href="/logout">logout</a></div>
        </div>
      </nav>
    </header>
    <!-- END header -->

    <!-- <div class="top-shadow"></div> -->
    


    <div style="background-image: url('home/images/main_logo.jpg');  width:300; height: 100;
    background-repeat: no-repeat;
    background-position: top center;height: calc(70vh);
  position: relative;">
      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-lg-9 text-center col-sm-12 element-animate">
            <h1 class="mb-4"></h1>
            <div class="btn-play-wrap mx-auto">
            </div>    
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
            <div class="service-box">
              <div class="square-figure">
                <button class="btn" id="btn" type="submit"><span class="flaticon-pulse"></span></button>
              </div>
              <div class="service-text">
                <h3>투표의 투명성</h3>
                <p>투표자별 고유 Address 제공하고 장부에 실시간 기록</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
            <div class="service-box">
              <div class="square-figure">
                <button class="btn" id="btn" type="submit"><span class="flaticon-pulse"></span></button>
              </div>
              <div class="service-text">
                <h3>개표 리소스 절감</h3>
                <p>투표마감시 즉시 집계 가능</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
            <div class="service-box">
              <div class="square-figure">
                <button class="btn" id="btn" type="submit"><span class="flaticon-pulse"></span></button>
              </div>
              <div class="service-text">
                <h3>비밀 투표 보장</h3>
                <p>투표자의 선거 내역 비밀 보장</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
                <div class="service-box">
                  <div class="square-figure">
                    <button class="btn" id="btn" type="submit"><span class="flaticon-pulse"></span></button>
                  </div>
                  <div class="service-text">
                    <h3>비용 절감</h3>
                    <p>기존 오프라인 투표보다 80% 절감 가능합니다.</p>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
    <!-- END section -->


    
      

    
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#f4b214" /></svg></div>
    <script src="home/js/jquery-3.2.1.min.js"></script>
    <script src="home/js/popper.min.js"></script>
    <script src="home/js/bootstrap.min.js"></script>
    <script src="home/js/owl.carousel.min.js"></script>
    <script src="home/js/jquery.waypoints.min.js"></script>
    <script src="home/js/jquery.fancybox.min.js"></script>
    <script src="home/js/main.js"></script>
  </body>
</html>